.home {
    width: 100%;
  }
.name{
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about{
    color: black;
}