.navbar{
    text-align: center;
    font-size: 24px;
    background-color:rgb(118, 118, 197);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link{
    color: lightblue;
    padding: 18.5px 28px; 
    text-decoration: none;
    text-align: center;
    display:inline-block;
    transition-duration: 0.4s;
    
}

.link:hover{
    background-color: rgb(61, 61, 98);
}