.navbar{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
    background-color:black;
}

.link{
    color: white;
    padding: 18.5px 28px; 
    text-decoration: none;
    text-align: center;
    display:inline-block;
    transition-duration: 0.4s;
    
}

.link:hover{
    background-color: rgb(29, 29, 29);
}