*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: darkcyan;
    height: auto;
    width: 100vw;
    padding-top: 55px;
    color: #fff;
}
